* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    position: relative;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
}

.header {
    position: fixed;
    background-color: white;
    height: 65px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 216, 216);
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.header .lefty {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header .mid {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header .righty {
    width: 200px;
}

.icons-ham {
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo {
    height: 20px;
}

.search-btn, .mic-btn, .right-icons, .notif-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    display: flex;
    height: 41px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    cursor: pointer;
    margin-left: -1px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.mic-btn {
    height: 40px;
    width: 40px;
    background-color: rgb(248, 244, 244);
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.search-bar::placeholder {
    font-family: "Roboto", sans-serif, "Arial";
    font-size: 15px;
}

.search-bar {
    display: flex;
    position: relative;
    flex: 1;
    height: 39px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 16px;
    border-color: rgb(190, 190, 190);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 0;
    margin-left: 50px;
}

.search-btn .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -25px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.search-btn:hover .tooltip {
    opacity: 1;
}

.mic-btn .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 130px;
    opacity: 0;
    bottom: -25px;
    transition: opacity 0.3s;
    pointer-events: none;
}

.mic-btn:hover .tooltip {
    opacity: 1;
}

.right-icons .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    bottom: -25px;
    transition: opacity 0.3s;
    pointer-events: none;
}

.right-icons:hover .tooltip {
    opacity: 1;
}

.notif-count .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    width: 70px;
    bottom: -40px;
    pointer-events: none;
}

.notif-count:hover .tooltip {
    opacity: 1;
}

.search {
    height: 25px;
    margin-top: 4px;
}

.voice {
    height: 25px;
    margin-top: 4px;
}

.righty {
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    flex-shrink: 0;  /** Flex-shrink: 0 means don't shrink */
    display: flex;
    width: 180px;
}

.counter {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    position: absolute;
    top: -2px;
    right: 0px;
    background-color: rgb(204, 14, 14);
    color: white;
    border-radius: 50%;
    border: none;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.notif-count {
    position: relative;
}

.notifications {
    position: relative;
    height: 26px;
    padding-right: 2px;
}

.apps {
    height: 23px;
}

.channel {
    height: 34px;
    border-radius: 17px;
}

.upload {
    height: 23px;
}

.videos {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 8px;
    background-color: rgb(247, 247, 247);
    background-size: cover;
    padding-right: 24px;
}

.preview {
    width: 350px;
    border: none;
    height: 310px;
    margin-top: 30px;
}

.time-stamp {
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px;
    padding-bottom: 3px;
    bottom: 10px;
    right: 5px;
    font-size: 13px;
    font-weight: 500;
}

.thumbnail {
    position: relative;
    width: 350px;
    margin-bottom: 5px;
    border: none;
    z-index: 0;
    cursor: pointer;
}

.vid-pic {
    width: 100%;
    margin: 0;
}

.desc {
    display: flex;
    flex: 1;
    color: black;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.channel-pic {
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.round-ch {
    border-radius: 18px;
    width: 100%;
}

.video-title {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.video-author {
    color: rgb(55, 55, 55);
    margin-top: 12px;
    font-weight: 400;
    font-size: 13px;
}

.video-stats {
    color: rgb(55, 55, 55);
    font-weight: 400;
    font-size: 13px;
}

.icons {
    height: 25px;
    background-color: white;
}

/** SIDEBAR CSS*/

.sidebar {
    position: fixed;    /** position: absolute puts the content on the page and fixed puts it on the desktop window */
    background-color: rgb(250, 250, 250);
    color: white;
    left: 0;
    bottom: 0;
    top: 65px;
    width: 72px;
    align-items: center;
    z-index: 2;  /** z-index shows elements above the ones that have less z-index */
}

.side-contain {
    height: 800px;
}

.icons {
    background-color: transparent;
    top: 20px;
}

.icon-bloc { 
    display: fixed;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 2px;
    height: max-content;
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
}

.icon-bloc:hover {
    background-color: rgb(224, 224, 224);
}

.title-side {
    display: block;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
}

.side-text {
    margin-top: 5px;
    color: black;
}

@media (max-width: 800px) {
    .videos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) and (max-width: 1219px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1220px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

